<div class="container">
  <br />
  <div class="row">
    <div class="col-sm" *ngFor="let product of products; let productId = index">
      <a [routerLink]="[productId]">
        <div class="card">
          <img
            src="assets/img/download.png"
            class="card-img-top"
            alt="Card image cap"
          />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
